.DeleteUserConfirmation {
    height: 143px;
    width: 330px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -71.5px;
    margin-left: -165px;
}

.Warning {
    padding: 1rem;
    margin: 0px;
    color: white;
    letter-spacing: 1px;
}
.DeleteUserConfirmation button {
    width: 50%;
    background-color: rgba(255, 0, 0, 0);
    padding: 0.5rem;
    color: white;
}
.DeleteUserConfirmation button:hover {
    background-color: rgba(255, 0, 0, .5);
}
.DeleteUserConfirmation button:active {
    background-color: rgba(255, 0, 0, .5);
}

.No {
    border-radius: 0px 0px 0px 10px;
    border: none;
    border-right: 1px solid white;
    border-top: 1px solid white;
}
.Yes {
    border-radius: 0px 0px 10px 0px;
    border: none;
    border-top: 1px solid white;
}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .DeleteUserConfirmation {
        top: 50%;
    }
}