.Login {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login h1 {
    color: white;
    margin: 2rem 0;
}

.Login-btn {
    outline: none;
    border: 2px solid rgba(137, 1, 186, 0.5);
    border-radius: 5px;
    padding: .33rem .66rem;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(137, 1, 186, 0.5);
    margin-left: auto;
}

.login-message p {
    text-align: end;
}

.Login-error p {
    color: red;
    height: 100%;
    margin-bottom: 0;
}

.clickHere:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 575.98px) { 
    .Login-error {
        width: 90%
    }

    .clickHere {
        text-decoration: underline;
    }
}