.push-right {
    margin-left: auto;
}

.Back-button {
    width: 10%;
    text-align: center;
    text-shadow: 8px 5px 10px rgba(0, 0, 0, 0.5);
}

.Back-button:hover {
    transform: scale(1.09);
}

.Back-button:active {
    transform: scale(1) translate(2px, 0px);
    text-shadow: none;
}